# Capstone Project

In [1]:
import os

import mysql.connector as connector
from mysql.connector.pooling import MySQLConnectionPool, PoolError
from mysql.connector import Error

## Task 1

In [18]:
connection = connector.connect(
    user=os.getenv("database_user"),
    password =os.getenv("database_password"),
    db="LittleLemon"
)

In [19]:
cursor = connection.cursor()

## Task 2

In [22]:
show_tables_query = "SHOW tables"
cursor.execute(show_tables_query)
tables = cursor.fetchall()

In [25]:
for table in tables:
    print(table[0])

Bookings
Customers
Delivery
Menu
MenuItem
Orders
ordersview
Staff

## Task 3

In [31]:
join_query = """
SELECT
    Customers.CustomerName AS CustomerName,
    Customers.Email AS CustomerEmail,
    Orders.TotalCost AS TotalCost
FROM Customers
INNER JOIN Orders ON Customers.CustomerID = Orders.CustomerID
WHERE Orders.TotalCost > 6;
"""

In [32]:
cursor.execute(join_query)
results = cursor.fetchall()

In [39]:
# Print the results
for customer in results:
    print(
    f"""
    Customer: {customer[0]}
    Email: {customer[1]}
    Bill Amount: ${customer[2]}"""
    )

    Customer: Bob
    Email: bob@example.com
    Bill Amount: $17.98

    Customer: John Doe
    Email: john.doe@example.com
    Bill Amount: $10.99

    Customer: Alice
    Email: alice@example.com
    Bill Amount: $26.97

    Customer: Charlie
    Email: charlie@example.com
    Bill Amount: $15.98

    Customer: Jane Doe
    Email: jane.doe@example.com
    Bill Amount: $24.95